---
import Layout from '../layouts/Layout.astro';
import AuthProvider from '../components/AuthProvider';
---

<Layout title="Expenses Tracker">
	<main class="container mx-auto p-4">
		<AuthProvider client:load />
	</main>
</Layout>